html, body {
	margin: 0;
	padding: 0;
	font-family: "Tahoma", sans-serif;
	color: #444;
}

div.header {
	position: fixed;
	right: 20px;
}

div.header h1 {
	text-transform: lowercase;
	font-family: "Georgia", serif;
	background-color: #588F27;
	color: #fff;
	display: inline-block;
	position: absolute;
	top: 80px;
	left: 10px;
}

ul.gists {
	list-style-type: none;
	padding: 0;
}

li.gist {
	padding: 10px;
	margin: 20px;
	background-color: #CAFCD8;
	border-radius: 10px;
}

li.gist-done {
	color: #ccc;
	background-color: #F2FCF1;
}

li.gist h3 {
	color: #588F27;
}

li.gist-done h3 {
	color: #BCE0A6;
}

li.gist input {
	display: inline-block;
}

a:link, a:active, a:hover, a:visited {
	color: #04BFBF;
}

.gist-done a:link,
.gist-done a:active,
.gist-done a:hover,
.gist-done a:visited {
	color: #B5EBED;
}
