%html
	%head
		%title Gists
		%meta{:name => "viewport", :content => "width=device-width"}
		%link{:rel => "apple-touch-icon", :sizes => "114x114", :href => "touch-icon-iphone4.png"}
		%link{:href => '/hansel.css', :rel => 'stylesheet'}
		%script{:src => '/require-jquery.js', :"data-main" => '/hansel-main'}

	%body= yield